@font-face {
  font-family: "CB";
  src: url("./assets/fonts/CaveatBrush-Regular.ttf");
}

body {
  margin: 0;

  font-family: "CB";
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
